$main-font: fantasy;
$margin-page-small-content: 0px 60px 0px 95px;
$margin-page-large-content: 0px 60px 0px 60px;
$tranform: skewX(-10deg);
$text-gray: #807f7f;

.goals-heading {
    text-align: center;
    margin-top: 50px;
    font-family: $main-font;
    display: flex;
    align-items: center;
    margin-left: 60px;

    span {
        margin-right: 10px;
        margin-top: -10px;
        color: $background;
        font-weight: 900;
        stroke: $background;
        stroke-width: 4;
    }
}

.user-goals {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $margin-page-large-content;

    div {
        background-color: #EFEFEF;
        padding: 51px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 50px;
        max-height: 350px;
    }

    div:hover span {
        border-bottom: white;
        padding-bottom: 2px;
        display: inline-block;
        border-bottom: 2px solid white;
        padding-bottom: 2px;
    }

    div:hover {
        background-color: $background;
        color: white;
        transition: 0.4s;
        cursor: pointer;
    }

    div:hover img {
        margin-top: 26px;
        transition: 0.4s;
    }

    img {
        display: flex;
        margin: 0 auto;
        vertical-align: middle;
        width: 210px;
        height: 300px;
        margin-top: 60px;
    }

    h4 {
        font-family: $main-font;
        text-align: center;
        margin-top: -30px;
        white-space: nowrap;
    }

    h6 {
        text-align: center;
    }

    span {
        display: inline-block;
        border-bottom: 2px solid $background;
        padding-bottom: 2px;
    }
}

.homepage-popular-categories {
    z-index: 99;
    position: relative;
    background-color: white;

}

.popular-categories-heading {
    text-align: center;
    font-family: $main-font;
    display: inline-flex;
    align-items: center;
    margin: $margin-page-large-content;
    padding-top: 60px;
    margin-bottom: 50px;

    span {
        margin-right: 10px;
        margin-top: -10px;
        color: $background;
        font-weight: 900;
        stroke: $background;
        stroke-width: 4;
    }
}

.popular-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $margin-page-large-content;

    .popular-categories-content {
        margin-left: 60px;
        margin-right: 60px;
    }

    h6 {
        text-align: center;
        font-size: 15px;
        white-space: nowrap;
        margin-top: 15px;
    }

    img {
        display: flex;
        margin: 0 auto;
        vertical-align: middle;
    }

    div:hover img {
        transform: scale(1.2);
    }

    div:hover img,
    div:hover h6 {
        transition: 0.4s;
        color: $text-color;
        cursor: pointer;
    }

}

.banner {
    margin: $margin-page-large-content;
    margin-top: 60px;
    margin-bottom: 60px;
}

.banner-three {
    margin: 0px 60px 0px 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-container {
        /* Set the container size to the original size of the image */
        margin: 15px 0px 0px 12px;
        overflow: hidden;
        /* Clip the overflow */
        position: relative;
        /* Create a stacking context for child elements */
    }

    .image-container img:hover {
        /* Apply the zoom effect */
        transform: scale(1.1);
        /* Zoom by 10% */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.3s;
    }

    button {
        font-family: $ui-font;
        transform: skewX(-10deg);
        border-radius: 2px;
        border: 0px;
        pointer-events: all;
    }
}

.bannner-ad-three-content {
    position: absolute;
    margin: -210px 0px 0px 50px;
    font-family: $main-font;
    pointer-events: none;

    /* This allows mouse events to pass through the text div */
    h5 {
        font-family: system-ui;
        color: orange;
        font-size: 15px;
        margin-bottom: 10px;
    }

    h6 {
        font-family: $main-font;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 70%;
        color: white;
        font-size: 28px;
    }

}

.bannner-ad-three-content:hover {
    button {
        color: white;
        transition: 0.3s;
        font-size: 16px;
        background-color: $background;
    }
}

.bannner-ad-three-content-3:hover {
    button {
        color: white;
        transition: 0.3s;
        font-size: 16px;
        background-color: $background;
    }
}

.bannner-ad-three-content-3 {
    position: absolute;
    margin: -210px 0px 0px 195px;
    pointer-events: none;

    /* This allows mouse events to pass through the text div */
    h6 {
        width: 70%;
        font-family: $main-font;
        display: -webkit-boxl;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: white;
        font-size: 28px;
    }

    h5 {
        color: orange;
        font-family: system-ui;
        font-size: 15px;
        margin-bottom: 10px;
    }
}

.products-section {
    display: flex;
    color: gainsboro;
    font-family: $main-font;
    justify-content: center;
    align-items: center;

    h4 {
        font-size: 16px;
        cursor: pointer;
        padding: 6px;
        margin-left: 10px;
        transform: $tranform;
        border-radius: 5px;
        color: #06645c;
    }

    h4:hover {
        background-color: black;
        color: white;
    }

    .selected-heading {
        background-color: black;
        color: white;
    }
}

.product-section-class {
    .popular-categories-heading {
        display: flex;
        justify-content: space-between;
    }

    .swiper,
    swiper-container {
        margin-top: -10px !important;
        margin-right: 85px !important;
        margin-left: 85px !important;
        padding-right: 0px !important;
        padding-left: 18px !important;
    }

    .arrow-icon {
        margin: -4px 0px 0px 0px;

    }
}

.main-slider-offer {
    margin: 60px 95px 0px 100px;
}

.offer-img-main {
    display: flex;
    margin: 60px 95px 0px 100px;

    .offer-img img {
        border-radius: 14px;
        margin-left: 8px;
    }
}

.brands-heading {
    text-align: center;
    margin-top: 50px;
    font-family: $main-font;
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-bottom: 40px;

    .arrow-span {
        margin-right: 10px;
        margin-top: -10px;
        color: $background;
        font-weight: 900;
        stroke: $background;
        stroke-width: 4;
    }
}

.brands-main {
    .main-slider-offer {
        margin: 40px 95px 0px 160px;
    }

}

.headings-why-nutritrix {
    margin: $margin-page-large-content;
    padding-top: 50px;

    h6 {
        color: $text-color;
        margin-left: 10px;
    }

    h2 {
        font-size: 54px;
        font-family: $main-font;
        width: 60%;
        font-style: italic;
    }
}

.pointers-why-nutritrix {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 50px 0px 0px 60px;

    .inside-headings {
        display: flex;
    }

    .pointers-icon {
        font-size: 55px;
        color: $text-color;
    }

    button {
        border: 0px;
        border-radius: 2px;
        background-color: black;
        color: white;
        padding: 14px 20px 14px 20px;
        transform: $tranform;
        margin-left: 10px;
    }

    button:hover {
        background-color: $text-color;
        color: white;
    }
}

.main-why-nutritrix {
    display: flex;

    .reviews-main {
        width: 550px;
        margin: 200px 0px 0px 0px;
        background-color: #f5f5f5;

        h5 {
            font-style: $ui-font;
        }

        p {
            height: 200px;
        }
    }

    .swiper-horizontal>.swiper-pagination-bullets {
        left: -156px;
        top: 239px;
    }
}

.main-bundle-content {
    display: flex;
    justify-content: center;
    margin: 60px 0px 0px 0px;

    .bundle-offer-image {
        margin: 0px 0px 0px -125px;
    }

    .bundle-heading {
        font-family: fantasy;
        display: inline-flex;
        align-items: center;
        margin: 0px 60px 0px 60px;

        span {
            margin-right: 10px;
            margin-top: -10px;
            color: #06645c;
            font-weight: 900;
            stroke: #06645c;
            stroke-width: 4;
        }
    }

    h5 {
        font-weight: 500;
        font-size: 14px;
        margin-left: 60px;
        font-style: oblique;
    }

    .main-quantity-box {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid gainsboro;
        margin-top: -6px;

        button {
            border: 0px;
            padding: 4px 14px 4px 14px;
        }

        svg {
            font-size: 14px;
            font-weight: 300;
        }

        div {
            height: 21px
        }
    }

    .bundle-products {
        margin: 15px 0px 0px 55px;
        border-bottom: 1px solid gainsboro;
    }

    .bundle-product {
        display: flex;
        border-top: 0.2px solid gainsboro;
        padding: 12px;
        justify-content: center;
        align-items: center;

        h4 {
            font-size: 14px;
            width: 40%;
            margin-right: 20px;
        }

        .product-card-image {
            margin-left: -30px;
            margin-right: 10px;
        }

        h6 {
            margin-left: 120px;
        }
    }

    .main-content-bundle {
        padding-left: 60px;
    }

    .bundle-price {
        color: gray;
        font-weight: 400;
        font-size: 18px;
        margin: 20px 0px 0px 54px;

        span {
            color: black;
        }
    }

    .bundle-add-to {
        margin: 20px 0px 0px 54px;
        border: 0px;
        transform: $tranform;
        background-color: black;
        color: white;
        padding: 10px 20px 10px 20px;
        border-radius: 2px;
    }

    .bundle-add-to:hover {
        background-color: $text-color;
    }
}

.blogs-slider-main {
    margin-top: -20px;

    h6 {
        margin-top: 13px;
        font-size: 15px;
        color: $text-color;
    }

    .blog-slider-heading {
        font-family: $main-font;
        width: 80%;
    }
}

.blog-main-heading {
    text-align: center;
    font-family: fantasy;
    display: inline-flex;
    align-items: center;
    margin: 0px 60px 0px 60px;
    padding-top: 60px;

    span {
        margin-right: 10px;
        margin-top: -10px;
        color: #06645c;
        font-weight: 900;
        stroke: #06645c;
        stroke-width: 4;
    }
}

div#__next {
    overflow-x: hidden;
}



@media (min-width: 1500px) {

    /* Your styles here */
    .product-section-class .swiper,
    .product-section-class swiper-container {
        margin-top: -10px !important;
        margin-right: 195px !important;
        margin-left: 195px !important;
        padding-right: 0px !important;
        padding-left: 12px !important;
    }
}