
.product-slider-class .swiper-button-next, .swiper-button-prev{
    color: white !important;
    --swiper-navigation-size: 20px;
    background-color: $background;
    font-weight: 700;
    border-radius: 50%;
}

.products-slider .swiper-slide{
    width: 230px!important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.swiper, swiper-container{
    margin-right: 60px !important;
    margin-left: 60px !important;
}

.products-slider {
    h6{
        margin-left: 20px;
        font-size: 13px;
        display:inline-block;
        border-bottom:2px solid $background;
        padding-bottom:4px;
    }
    h6:hover{
        color: $text-color;
        cursor: pointer;
    }
    h4{
        margin-left: 20px;
        font-size: 16px;
    }
    h5{
        margin-left: 20px;
        margin-top: 12px;
        font-weight: 400;
    }
}    

.product-slider-class .swiper, swiper-container{
    margin-top: -25px !important;
}

.two-line-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.two-line-text:hover{
    color: $text-color;
    cursor: pointer;
}

.stars{
    margin-left: 17px;
    font-size: 20px;
}

.stars-rating{
    display: flex;
    align-items: center;
    font-size: 15px;
}

  .hover-up {
    padding: 10px 59px 10px 59px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .hover-up span {
    position: relative;
    z-index: 1;
    color: black;
    font-weight: 600;
  }
  
  .hover-up::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: black;
    transition: height 0.3s ease-out;
    z-index: 0;
  }
  
  .hover-up:hover::before,
  .product-card:hover .hover-up::before {
    height: 100%;
  }

  .product-card:hover .hover-up span{
    color: white;
  }
  
  .hover-up:hover::before{
    background-color: $text-color;
    transition: 0.2s ease-out;
  }
  